@import url("./theme.css");

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	color-scheme: light dark;
	box-sizing: border-box;
	font: var(--font-base);
	color: var(--color-text-400);
	background-color: var(--color-surface-0);
}

@media print {
	@page {
		size: A4 portrait;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-height: 100vh;
}

a {
	color: currentColor;
}
