---
export interface Props {
	title: string;
	subtitle: string;
}

const { title, subtitle } = Astro.props;
---

{title}{" "}<span class="subtitle">@ {subtitle}</span>

<style>
	.subtitle {
		font-weight: 400;
	}
</style>
