---
export interface Props {
	title: string;
	subtitle: string;
	slot?: string;
}

const { title, subtitle } = Astro.props as Props;
---

{title}
<span class="subtitle">@ {subtitle}</span>

<style>
	.subtitle {
		font-weight: 400;
	}
</style>
