<div>
	<slot />
</div>

<style>
	div :global(ul),
	div :global(p) {
		margin-block: 0 theme(spacing[2.5]);
	}

	div :global(ul) {
		padding: 0;
	}

	div :global(li) {
		display: flex;
		margin-block: 0 theme(spacing[1.5]);
	}

	div :global(li::before) {
		display: block;
		margin-inline-end: theme(spacing.3);
		color: theme(colors.neutral.500);
		content: "•";
		font-weight: theme(fontWeight.semibold);
	}

	div :global(a) {
		color: currentColor;
		text-decoration: underline !important;
	}

	@media screen and (prefers-color-scheme: dark) {
		li::before {
			color: theme(colors.neutral.400);
		}
	}

	@media print {
		div :global(a) {
			text-decoration: none;
		}

		div :global(a::after) {
			margin-inline-start: theme(spacing[1.5]);
			content: "[ " attr(href) " ]";
		}
	}
</style>
