---
const links = [
	{
		label: "Email",
		web: "mailto:flakisms@gmail.com",
		print: "flakisms@gmail.com",
	},
	{
		label: "Github",
		web: "https://github.com/kavsingh",
		print: "https://github.com/kavsingh",
	},
	{
		label: "LinkedIn",
		web: "https://linkedin.com/in/kav-singh",
		print: "https://linkedin.com/in/kav-singh",
	},
	{
		label: "Website",
		print: "kavsingh.com",
	},
];
---

<ul class="flex list-none print:flex-col">
	{
		links.map(({ label, web, print }) => {
			return (
				<li
					class:list={[
						"me-4 print:me-0",
						{
							"hidden print:block": !web && print,
							"print:hidden": web && !print,
							hidden: !web && !print,
						},
					]}
				>
					<a
						class="underline print:no-underline print:after:ms-4 print:after:content-[attr(data-print-url)]"
						href={web}
						data-print-url={print}
					>
						{label}
					</a>
				</li>
			);
		})
	}
</ul>
