---
import aboutContent from "../cv/about";

const { links } = aboutContent;
---

<ul>
	{
		links.map(({ url, label, print, web }) => {
			const printUrl = url.replace(/(^\w+:|^)\/\//, "");
			const className = [print && "print", web && "web"]
				.filter(Boolean)
				.join(" ");

			return (
				<li class={className}>
					<a href={url} data-print-url={printUrl}>
						{label}
					</a>
				</li>
			);
		})
	}
</ul>

<style>
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		margin-inline-end: 1.2em;
	}

	a {
		color: currentColor;
	}

	@media screen {
		li:not(.web) {
			display: none;
		}
	}

	@media print {
		ul {
			flex-direction: column;
		}

		li {
			margin-inline-end: 0;
		}

		li:not(.print) {
			display: none;
		}

		a {
			text-decoration: none;
		}

		a::after {
			content: " - " attr(data-print-url);
		}
	}
</style>
