---
const links = [
	{
		type: "email",
		label: "Email",
		url: "mailto://flakisms@gmail.com",
		web: true,
		print: true,
	},
	{
		type: "github",
		label: "Github",
		url: "https://github.com/kavsingh",
		web: true,
		print: true,
	},
	{
		type: "linkedin",
		label: "LinkedIn",
		url: "https://linkedin.com/in/kav-singh",
		web: true,
		print: true,
	},
	{
		type: "website",
		label: "Website",
		url: "//kavsingh.com",
		web: false,
		print: true,
	},
] as const;
---

<ul class="flex list-none print:flex-col">
	{
		links.map(({ url, label, print, web }) => {
			const printUrl = url.replace(/(^\w+:|^)\/\//, "");

			return (
				<li
					class:list={[
						"me-4 print:me-0",
						{ "screen:hidden": !web, "print:hidden": !print },
					]}
				>
					<a
						class="underline print:no-underline print:after:content-[attr(data-print-url)] print:after:ms-4"
						href={url}
						data-print-url={printUrl}
					>
						{label}
					</a>
				</li>
			);
		})
	}
</ul>
