<main>
	<slot />
</main>

<style>
	main {
		max-width: 56rem;
		margin: 0 auto;
		padding-block: var(--spacing-1);
		padding-inline: var(--spacing-1);
	}

	@media screen and (min-width: 36rem) {
		main {
			padding-block: var(--spacing-2);
		}
	}

	@media print {
		main {
			max-width: none;
		}
	}
</style>
