<div class="panels">
	<div class="panels_left"><slot name="left" /></div>
	<div class="panels_right"><slot name="right" /></div>
</div>

<style>
	.panels {
		display: flex;
		flex-direction: column;
	}

	@media screen and (min-width: 36rem) {
		.panels {
			flex-direction: row;
		}

		.panels_left {
			flex: 0 0 24%;
			max-width: 30rem;
		}

		.panels_right {
			flex: 1 0;
		}
	}
</style>
